@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    font-size: 16px;
    background-color: #02000c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
.custom-box{
    max-width: 700px;
     color: rgb(4, 1, 46); 
    background-color: rgb(244, 247, 248);
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}
.custom-box.hide{
    display: none;

}
.home-box h3{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}
.home-box p{
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 22px;
}
.home-box p span{
   
    font-weight: 500;
}
.home-box .btn{
    margin-top: 20px;
   
}
.btn{
    padding: 15px 45px;
    background-color: #141401;
    color: rgb(8, 200, 248);
    border-radius: 5px;
    box-shadow: 0px 7px 15px #9ba7ac;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.quiz-box .question-number{
    font-size: 18px;
    color: rgb(1, 12, 12);
    font-weight: 600;
    border-bottom: 10px;
    line-height: 25px;

}
.quiz-box .question-text{
    font-size: 22px;
    color: rgb(0, 5, 5);
    font-weight: 400;
    line-height: 28px;
    padding: 20px 0;
    margin: 0;

    
}
.quiz-box .option-container .option{
    background-color: #bbc4ca;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #06000c;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.quiz-box .question-container{
    
}
.quiz-box .answers-indication{
    
}